.eve_card{
    padding:20px;
    margin:10px;
    background:#ffeeff;
    border-radius:15px;
 }
 .eve_card:hover{
    box-shadow:0 4px 8px 0 rgba(255,0,0,0.5);
 }
 .modal-content{
   padding:20px;
   background:#ffeeff;
   border-radius:15px;
   box-shadow:0 4px 8px 0 rgba(0,0,0,0.5);
   
 }