body {
  font-family: livvic;
  color: black;
  background-repeat: repeat;
  background-size: 20%;
}

.logo {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#navb {
  background-color: #fff;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  margin-bottom: 10px;
}

.header-scrolled {
  background-color: #fffef5;
  width: 100%;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

#navbarNav {
  float: left;
}

.user_data {
  float: right;
  color: black;
}

.nav-link {
  color: black;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #255;
  padding: 2px 16px;
  color: white;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.7;
}

.active,
.demo:hover {
  opacity: 1;
}

@media only screen and (max-width: 768px) {
  #about {
    color: #000000;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    grid-row-gap: 10px;
        grid-template-areas: "head head" " about1 about1 " " about2 about2" " img4 img2" " about3 about3" " img3 img1" " about4 about4";
  }
}

@media only screen and (min-width: 769px) {
  #about {
    color: #000000;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    grid-row-gap: 10px;
        grid-template-areas: "head head head" " about1 about1 img1" " img2 about2 about2" " about3 about3 img3" " img4 about4 about4";
  }
}

.one {
  font-size: 6vw;
}

.one + h2 {
  font-size: 3vw;
}

@media only screen and (max-width: 576px) {
  .one {
    font-size: 1.5em;
    font-weight: 500;
  }
  .one + h2 {
    font-size: 1.4em;
  }
}

#about p {
  text-align: left;
  padding: 0 10px;
  /* font-family:Helvetica, sans-serif; */
}

#about ul {
  text-align: left;
}

#subs {
  margin-left: auto;
  margin-right: auto;
}

#email {
  width: 100%;
  text-align: center;
}

.sub {
  width: 100%;
  height: 25px;
  color: white;
  font-size: 12px;
  text-align: center;
  background-color: #832020;
  border: 2px solid #701616;
  margin-top: 5px;
}

@media only screen and (min-width: 768px) {
  #wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
        grid-template-areas: " pic president" "  vice manager" "  webdev .";
  }
}

@media only screen and (min-width: 990px) {
  #wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
        grid-template-areas: " . pic ." " president vice manager" " . webdev .";
  }
}

.card-4 {
  background-color: #eee;
  color: black;
  border-radius: 50px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
  place-items: center;
  max-width: 330px;
  margin-top: 10px;
  text-align: left;
}

.card-4:hover {
  -webkit-animation-name: myanim;
          animation-name: myanim;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.card-4:hover img {
  -webkit-animation-name: myanim2;
          animation-name: myanim2;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes myanim {
  0% {
    background-color: #eee;
    border-radius: 50px;
  }
  100% {
    background-color: #e6e67e;
    border-radius: 0px;
  }
}

@keyframes myanim {
  0% {
    background-color: #eee;
    border-radius: 50px;
  }
  100% {
    background-color: #e6e67e;
    border-radius: 0px;
  }
}

@-webkit-keyframes myanim2 {
  0% {
    border-radius: 50px 50px 0 0;
  }
  100% {
    border-radius: 0px;
  }
}

@keyframes myanim2 {
  0% {
    border-radius: 50px 50px 0 0;
  }
  100% {
    border-radius: 0px;
  }
}

.info {
  padding: 20px;
}

footer {
  margin-top: 20px;
}

.sideimg {
  width: inherit;
  margin-top: 10px;
}

.img {
  width: 100%;
  height: 300px;
  padding: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 576px) {
  .img {
    width: 100%;
    height: auto;
    padding: 10px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.eve {
  border: 1px solid black;
  background-color: #eee;
  padding: 10px 30px;
}

.carousel-item img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  -o-object-position: center;
     object-position: center;
}

.formdata {
  position: fixed;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.3);
}

.data_body {
  z-index: 1020;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  color: white;
  background-color: #832020;
  border: 2px solid #701616;
}

.response {
  z-index: 1020;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  color: white;
  background-color: #832020;
  border: 2px solid #701616;
  margin-bottom: 10px;
}

#mail_wrapper {
  display: flexbox;
  color: black;
  border: 1px solid black;
  margin: 5px auto 5px auto;
  text-align: justify;
}

#mail_wrapper input, #mail_wrapper textarea {
  float: right;
  margin: auto 0px auto auto;
  background-color: #ccc;
}

#mail_wrapper label {
  font-weight: 700;
  margin-top: 5px;
}

#send_btn {
  margin: 5px auto 5px auto;
}

.card-2 {
  -webkit-box-shadow: 0 8px 16px 0;
          box-shadow: 0 8px 16px 0;
  margin: auto;
}

#up_events_row {
  margin: 20px auto 20px auto;
}

#share_btn {
  margin: 30px 0px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 0;
}

#share_btn:hover {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

#Feed_Form {
  margin: 20px auto 10px auto;
}
/*# sourceMappingURL=spic.css.map */